@model Lab02.Models.Team

@if(ViewBag.leagueList.Count == 0) {
    <h1>Najpierw dodaj jakąkolwiek ligę</h1>
}
else {
    <h1>Dodaj Zespół</h1>
    <form asp-route="Add" method="post" class="w3-container">
        <p>
            <label asp-for="Name">Nazwa:</label>
            <input asp-for="Name" class="w3-input w3-border" />
        </p>
        <p>
            <label asp-for="Country">Kraj:</label>
            <input asp-for="Country" class="w3-input w3-border" />
        </p>
        <p>
            <label asp-for="City">Miasto:</label>
            <input asp-for="City" class="w3-input w3-border" />
        </p>
        <p>
            <label asp-for="FoundingDate">Data założenia:</label>
            <input asp-for="FoundingDate" type="date" class="w3-input w3-border" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
        </p>
        <p>
            <label asp-for="League">Liga:</label>
            <select asp-for="LeagueId" asp-items="@ViewBag.leagueList">
            </select>
        </p>
        <p>
            <button type="submit" class="w3-btn w3-border">Dodaj</button>
        </p>
    </form>
}